UE4/sample/ue03 SOA/Projects/ue03_SOA/xml-resources/axis2/META-INF/erstelleEintrag.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://soa/" xmlns:ns1="http://soa/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://sql.java/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://soa/">
    <wsdl:types>
        <xs:schema xmlns:ax21="http://sql.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://sql.java/xsd">
            <xs:complexType name="SQLException">
                <xs:complexContent>
                    <xs:extension base="ns1:Exception">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="errorCode" type="xs:int"/>
                            <xs:element minOccurs="0" name="nextException" nillable="true" type="ax21:SQLException"/>
                            <xs:element minOccurs="0" name="sQLState" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ns="http://soa/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://soa/xsd">
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="SQLException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SQLException" nillable="true" type="ns0:SQLException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="erstellEintrag">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="erstellEintragResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="erstellEintragRequest">
        <wsdl:part name="parameters" element="ns1:erstellEintrag"/>
    </wsdl:message>
    <wsdl:message name="erstellEintragResponse">
        <wsdl:part name="parameters" element="ns1:erstellEintragResponse"/>
    </wsdl:message>
    <wsdl:message name="SQLException">
        <wsdl:part name="parameters" element="ns1:SQLException"/>
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns1:Exception"/>
    </wsdl:message>
    <wsdl:portType name="erstelleEintragPortType">
        <wsdl:operation name="erstellEintrag">
            <wsdl:input message="axis2:erstellEintragRequest" wsaw:Action="urn:erstellEintrag"/>
            <wsdl:output message="axis2:erstellEintragResponse" wsaw:Action="urn:erstellEintragResponse"/>
            <wsdl:fault message="axis2:SQLException" name="SQLException" wsaw:Action="urn:erstellEintragSQLException"/>
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:erstellEintragException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="erstelleEintragSOAP11Binding" type="axis2:erstelleEintragPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="erstellEintrag">
            <soap:operation soapAction="urn:erstellEintrag" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SQLException">
                <soap:fault use="literal" name="SQLException"/>
            </wsdl:fault>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="erstelleEintragSOAP12Binding" type="axis2:erstelleEintragPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="erstellEintrag">
            <soap12:operation soapAction="urn:erstellEintrag" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SQLException">
                <soap12:fault use="literal" name="SQLException"/>
            </wsdl:fault>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="erstelleEintragHttpBinding" type="axis2:erstelleEintragPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="erstellEintrag">
            <http:operation location="erstelleEintrag/erstellEintrag"/>
            <wsdl:input>
                <mime:content type="text/xml" part="erstellEintrag"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="erstellEintrag"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="erstelleEintrag">
        <wsdl:port name="erstelleEintragSOAP11port_http" binding="axis2:erstelleEintragSOAP11Binding">
            <soap:address location="http://localhost:8080/axis2/services/erstelleEintrag"/>
        </wsdl:port>
        <wsdl:port name="erstelleEintragSOAP12port_http" binding="axis2:erstelleEintragSOAP12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/erstelleEintrag"/>
        </wsdl:port>
        <wsdl:port name="erstelleEintragHttpport" binding="axis2:erstelleEintragHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/erstelleEintrag"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
