UE4/sample/ue03 SOA/Projects/ue03_SOA/xml-resources/axis2/META-INF/sucheEintrag.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://soa/" xmlns:ns1="http://soa/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://sql.java/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://soa/">
    <wsdl:types>
        <xs:schema xmlns:ax21="http://sql.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://sql.java/xsd">
            <xs:complexType name="SQLException">
                <xs:complexContent>
                    <xs:extension base="ns1:Exception">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="errorCode" type="xs:int"/>
                            <xs:element minOccurs="0" name="nextException" nillable="true" type="ax21:SQLException"/>
                            <xs:element minOccurs="0" name="sQLState" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ns="http://soa/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://soa/xsd">
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="SQLException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SQLException" nillable="true" type="ns0:SQLException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Exception">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Exception" nillable="true" type="ns:Exception"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sucheEintrag">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="searchFor" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sucheEintragResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns:Articles"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Articles">
                <xs:sequence>
                    <xs:element minOccurs="0" name="content" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="sucheEintragRequest">
        <wsdl:part name="parameters" element="ns1:sucheEintrag"/>
    </wsdl:message>
    <wsdl:message name="sucheEintragResponse">
        <wsdl:part name="parameters" element="ns1:sucheEintragResponse"/>
    </wsdl:message>
    <wsdl:message name="SQLException">
        <wsdl:part name="parameters" element="ns1:SQLException"/>
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part name="parameters" element="ns1:Exception"/>
    </wsdl:message>
    <wsdl:portType name="sucheEintragPortType">
        <wsdl:operation name="sucheEintrag">
            <wsdl:input message="axis2:sucheEintragRequest" wsaw:Action="urn:sucheEintrag"/>
            <wsdl:output message="axis2:sucheEintragResponse" wsaw:Action="urn:sucheEintragResponse"/>
            <wsdl:fault message="axis2:SQLException" name="SQLException" wsaw:Action="urn:sucheEintragSQLException"/>
            <wsdl:fault message="axis2:Exception" name="Exception" wsaw:Action="urn:sucheEintragException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="sucheEintragSOAP11Binding" type="axis2:sucheEintragPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="sucheEintrag">
            <soap:operation soapAction="urn:sucheEintrag" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SQLException">
                <soap:fault use="literal" name="SQLException"/>
            </wsdl:fault>
            <wsdl:fault name="Exception">
                <soap:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="sucheEintragSOAP12Binding" type="axis2:sucheEintragPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="sucheEintrag">
            <soap12:operation soapAction="urn:sucheEintrag" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SQLException">
                <soap12:fault use="literal" name="SQLException"/>
            </wsdl:fault>
            <wsdl:fault name="Exception">
                <soap12:fault use="literal" name="Exception"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="sucheEintragHttpBinding" type="axis2:sucheEintragPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="sucheEintrag">
            <http:operation location="sucheEintrag/sucheEintrag"/>
            <wsdl:input>
                <mime:content type="text/xml" part="sucheEintrag"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="sucheEintrag"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="sucheEintrag">
        <wsdl:port name="sucheEintragSOAP11port_http" binding="axis2:sucheEintragSOAP11Binding">
            <soap:address location="http://localhost:8080/axis2/services/sucheEintrag"/>
        </wsdl:port>
        <wsdl:port name="sucheEintragSOAP12port_http" binding="axis2:sucheEintragSOAP12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/sucheEintrag"/>
        </wsdl:port>
        <wsdl:port name="sucheEintragHttpport" binding="axis2:sucheEintragHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/sucheEintrag"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
